(cloudflare) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}
{env.TAILNET_NAME} {
    import cloudflare
    # Whatever you want, e.g.
    reverse_proxy {env.TAILSCALE_HOSTNAME}.{env.TAILNET_NAME}:80
}
