(cloudflare) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# --------------------------------
# Proxmox infra
# --------------------------------
pve-tty.{env.CLOUDFLARE_ZONE} {
    reverse_proxy https://{env.PVE_PROXY} {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}

pve.{env.TAILNET_NAME} {
    reverse_proxy http://{env.PVE_PROXY}
    import cloudflare
}

# --------------------------------
# Tailnet Labs service
# --------------------------------
tailnet-labs.{env.CLOUDFLARE_ZONE} {
    reverse_proxy https://{env.TAILNETLABS_PROXY} {
        transport http {
            tls_insecure_skip_verify
        }
    }
    import cloudflare
}

# --------------------------------
# Audiobookshelf
# --------------------------------
audiobooks.{env.TAILNET_NAME} {
    reverse_proxy http://{env.AUDIOBOOKS_PROXY}
    import cloudflare
}

# --------------------------------
# Jellyfin
# --------------------------------
jellyfin.{env.TAILNET_NAME} {
    reverse_proxy http://{env.JELLYFIN_PROXY}
    import cloudflare
}